<ul>
    <div id="Publications0">

        <div class="body3_list prominent prepare_fadein">
            <div class="list_container ">
                <p>
                    Intelligent Smoke Alarm System with Wire
                    less Sensor Network
                    using ZigBee
                </p>

                <div class="pub_more">
                    <a href="https://www.hindawi.com/journals/wcmc/2018/8235127/">
                        <!--<i class="iconfont icon-HCI"></i>-->
                        <img class="paper_img" src="img/icon_paper.png" alt="icon_paper">
                        <span>
                                            Paper
                                        </span>
                    </a>
                    <a href="https://www.youtube.com/watch?v=xWVobc0v1A4">
                        <!--<i class="iconfont icon-HCI"></i>-->
                        <img class="paper_img" src="img/icon_video.png" alt="icon_paper">
                        <span>
                                            Video
                                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="body3_list prepare_fadein">
            <div class="list_container">
                <p>
                    See Your Voice: An Interactive Device of
                    Speech Visualizations for Users with A
                    Poor Hearing
                </p>

                <div class="pub_more">
                    <a href="https://dl.acm.org/citation.cfm?id=3202684">
                        <img class="paper_img" src="img/icon_paper.png" alt="icon_paper">
                        <span>
                                            Paper
                                        </span>
                    </a>
                    <a href="javascript:">
                        <img class="paper_img" src="img/icon_video.png" alt="icon_paper">
                        <span>
                                            Video
                                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="body3_list prominent prepare_fadein">
            <div class="list_container">
                <p>
                    Table War : A Tower-Defense Game
                    Device with Augmented Reality Projection
                </p>
                <div class="pub_more">
                    <a href="https://dl.acm.org/citation.cfm?id=3202690">
                        <img class="paper_img" src="img/icon_paper.png" alt="icon_paper">
                        <span>
                                            Paper
                                        </span>
                    </a>
                    <a href="javascript:">
                        <img class="paper_img" src="img/icon_video.png" alt="icon_paper">
                        <span>
                                            Video
                                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="body3_list prepare_fadein">
            <div class="list_container">
                <p>
                    MagicPAPER: An Integrated Shadow-Art
                    Hardware Device Enabling Touch
                    Interaction on Paper
                </p>

                <div class="pub_more">
                    <a href="https://dl.acm.org/results.cfm?query=MagicPAPER&Go.x=22&Go.y=12">
                        <img class="paper_img" src="img/icon_paper.png" alt="icon_paper">
                        <span>
                                            Paper
                                        </span>
                    </a>
                    <a href="https://www.youtube.com/watch?v=Uio0PEk3DmI">
                        <img class="paper_img" src="img/icon_video.png" alt="icon_paper">

                        <span>
                                            Video
                                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="body3_list prominent prepare_fadein">
            <div class="list_container">
                <p>
                    MagicPAPER: An Integrated Shadow-Art
                    Hardware Device Enabling Touch
                    Interaction on Kraft paper
                </p>
                <div class="pub_more">
                    <a href="https://dl.acm.org/results.cfm?query=MagicPAPER&Go.x=22&Go.y=12">
                        <img class="paper_img" src="img/icon_paper.png" alt="icon_paper">
                        <span>
                                            Paper
                                        </span>
                    </a>
                    <a href="https://www.youtube.com/watch?v=Uio0PEk3DmI">
                        <img class="paper_img" src="img/icon_video.png" alt="icon_paper">
                        <span>
                                            Video
                                        </span>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div id="Publications1" class="display">
        <div class="body3_list prominent">
            <div class="list_container">
                A desktop projection interaction technology with an air-touch operation (utility model)
            </div>
        </div>
        <div class="body3_list">
            <div class="list_container">
                Separable intelligent fire alarm system (utility model)
            </div>
        </div>
        <div class="body3_list prominent">
            <div class="list_container">
                A new media art device for projection interaction (utility model)
            </div>
        </div>
        <div class="body3_list">
            <div class="list_container">
                A new media art device for augmented reality light and shadow interaction (utility model)
            </div>
        </div>
        <div class="body3_list prominent">
            <div class="list_container">
                A Voice Visualization Music Interactive Device (utility model)
            </div>
        </div>
    </div>
    <div id="Publications2" class="display">
        <div class="body3_list prominent">
            <div class="list_container list_container2">
                The official website of the School of Computer Science, Chengdu University of Information Science and Technology
            </div>
        </div>
        <div class="body3_list">
            <div class="list_container list_container2">
                Carrying forward the Yi culture - the Yi people's mythology mobile game App
            </div>
        </div>
        <div class="body3_list prominent">
            <div class="list_container list_container2">
                Video Go - Short Video Social App App
            </div>
        </div>

    </div>
    <div id="Publications3" class="display">
        <div class="body3_list prominent">
            <div class="list_container">
                “the Single award of interaction design” in Life Geek 2018
                <div class="pub_more2">
                    <a href="javascript:">
                        <!--<i class="iconfont icon-HCI"></i>-->
                        <img class="paper_img" src="img/icon_pdf.png" alt="icon_paper">
                        <span>
                                            PDF
                                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="body3_list">
            <div class="list_container">
                “the Best demo honorable mention award” in ISS 2018
                <div class="pub_more2">
                    <a href="javascript:">
                        <!--<i class="iconfont icon-HCI"></i>-->
                        <img class="paper_img" src="img/icon_pdf.png" alt="icon_paper">
                        <span>
                                            PDF
                                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="body3_list prominent">
            <div class="list_container">
                “the SIC People’s Choice Honorable mention award” in UIST 2018
                <div class="pub_more2">
                    <a href="javascript:">
                        <!--<i class="iconfont icon-HCI"></i>-->
                        <img class="paper_img" src="img/icon_pdf.png" alt="icon_paper">
                        <span>
                            PDF
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="body3_list">
            <div class="list_container">
                “the Honorable Mentioned Award” in SUI 2018
                <div class="pub_more2">
                    <a href="javascript:">
                        <!--<i class="iconfont icon-HCI"></i>-->
                        <img class="paper_img" src="img/icon_pdf.png" alt="icon_paper">
                        <span>
                                            PDF
                                        </span>
                    </a>
                </div>
            </div>
        </div>


    </div>

</ul>
